# Core
public-f net.minecraft.client.OptionInstance
public net.minecraft.client.renderer.OutlineBufferSource$EntityOutlineGenerator
public net.minecraft.client.renderer.RenderStateShard f_110133_ # name
public net.minecraft.client.renderer.RenderType f_110393_ # sortOnUpload
public com.mojang.blaze3d.vertex.BufferBuilder f_85654_ # vertices
public com.mojang.blaze3d.vertex.BufferBuilder m_231178_()V # reset
public net.minecraft.client.renderer.RenderType$CompositeState f_110588_ # texturingState

# ModelPart
public net.minecraft.client.model.geom.ModelPart f_104212_ # cubes
public net.minecraft.client.model.geom.ModelPart f_104213_ # children

# Mesh caching
public net.minecraft.client.model.geom.ModelPart$Cube f_104341_ # polygons
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex

# For Texture based pre-render culling and gpu-based culling
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeRenderType f_110511_ # state

# Texture based pre-render culling
public net.minecraft.client.renderer.RenderType$CompositeState f_110576_ # textureState
public net.minecraft.client.renderer.RenderStateShard$EmptyTextureStateShard m_142706_()Ljava/util/Optional; # cutoutTexture
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard m_142706_()Ljava/util/Optional; # cutoutTexture
public net.minecraft.client.renderer.RenderStateShard$MultiTextureStateShard m_142706_()Ljava/util/Optional; # cutoutTexture

# GPU based culling
public net.minecraft.client.renderer.RenderType$CompositeState f_110582_ # cullState
public net.minecraft.client.renderer.RenderStateShard$BooleanStateShard f_110227_ # enabled

# Text Rendering
public net.minecraft.client.gui.font.glyphs.BakedGlyph f_95201_ # u0
public net.minecraft.client.gui.font.glyphs.BakedGlyph f_95202_ # u1
public net.minecraft.client.gui.font.glyphs.BakedGlyph f_95203_ # v0
public net.minecraft.client.gui.font.glyphs.BakedGlyph f_95204_ # v1
public net.minecraft.client.gui.font.glyphs.BakedGlyph f_95205_ # left
public net.minecraft.client.gui.font.glyphs.BakedGlyph f_95206_ # right
public net.minecraft.client.gui.font.glyphs.BakedGlyph f_95207_ # up
public net.minecraft.client.gui.font.glyphs.BakedGlyph f_95208_ # down
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect f_95237_ # x0
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect f_95238_ # y0
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect f_95239_ # x1
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect f_95240_ # y1
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect f_95241_ # depth
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect f_95242_ # r
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect f_95243_ # g
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect f_95244_ # b
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect f_95245_ # a
public net.minecraft.client.gui.Font$StringRenderOutput
public net.minecraft.client.gui.Font m_253238_(Lnet/minecraft/client/gui/font/glyphs/BakedGlyph;ZZFFFLorg/joml/Matrix4f;Lcom/mojang/blaze3d/vertex/VertexConsumer;FFFFI)V # renderChar
public net.minecraft.client.gui.Font m_92863_(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/gui/font/FontSet; # getFontSet
public net.minecraft.client.gui.Font f_242994_ # filterFishyGlyphs

# Item Rendering
public net.minecraft.client.gui.GuiGraphics m_280405_(Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/level/Level;Lnet/minecraft/world/item/ItemStack;IIII)V # renderItem
public net.minecraft.world.inventory.AbstractContainerMenu f_38843_ # menuType
public net.minecraft.client.gui.GuiGraphics m_280479_(Lnet/minecraft/resources/ResourceLocation;IIIIIFFFFFFFF)V # innerBlit
public net.minecraft.client.renderer.RenderStateShard f_110111_ # NO_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard f_110113_ # LEQUAL_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard f_110114_ # COLOR_DEPTH_WRITE
public net.minecraft.client.renderer.RenderStateShard f_110116_ # DEPTH_WRITE
public net.minecraft.client.renderer.RenderStateShard$WriteMaskStateShard f_110356_ # writeColor
public net.minecraft.client.renderer.RenderStateShard$WriteMaskStateShard f_110357_ # writeDepth
public net.minecraft.client.renderer.RenderType$CompositeState f_173274_ # shaderState
public net.minecraft.client.renderer.RenderType$CompositeState f_110577_ # transparencyState
public net.minecraft.client.renderer.RenderType$CompositeState f_110581_ # depthTestState
public net.minecraft.client.renderer.RenderType$CompositeState f_110582_ # cullState
public net.minecraft.client.renderer.RenderType$CompositeState f_110583_ # lightmapState
public net.minecraft.client.renderer.RenderType$CompositeState f_110584_ # overlayState
public net.minecraft.client.renderer.RenderType$CompositeState f_110586_ # layeringState
public net.minecraft.client.renderer.RenderType$CompositeState f_110587_ # outputState
public net.minecraft.client.renderer.RenderType$CompositeState f_110588_ # texturingState
public net.minecraft.client.renderer.RenderType$CompositeState f_110589_ # writeMaskState
public net.minecraft.client.renderer.RenderType$CompositeState f_110590_ # lineState
public net.minecraft.client.renderer.RenderType$CompositeState f_285566_ # colorLogicState
public net.minecraft.client.renderer.RenderType$CompositeState f_110591_ # outlineProperty

# Scissor State
public net.minecraft.client.gui.GuiGraphics f_279587_ # scissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack f_279656_ # stack
